extends ../components/base/layout

block variables
  - const title = "Программа занятий по развитию эмоционального интеллекта"
  - const description = "Занятия по работе с эмоциями и развитию эмпатии"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "emotion.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const introData = {
      item: {
        href: "#",
        width: 520,
        height: 720,
        image: "emotion",
      },
      iconName: "icon-emotion",
      text: "Программа подбирается индивидуально, после диагностики. <br>Занятия проходят 1-2 раза в&nbsp;неделю.",
      textTwo: "Стоимость занятий в&nbsp;группе&nbsp;&mdash; 800 рублей ( в&nbsp;группе 4-6&nbsp;человек)",
      textThree: "Стоимость индивидуальных занятий&nbsp;&mdash; 2500 рублей",
    }
  -
    const programData = {
      title: "Эмоциональный интеллект",
      text: "В&nbsp;общем понимании эмоциональный интеллект (EI) рассматривается как способность работать с&nbsp;эмоциями и&nbsp;проявлять эмпатию. Сюда относится умение распознавать эмоции, признавать отрицательные и&nbsp;положительные чувства, отделять персональное восприятие от&nbsp;наглядных фактов, управлять собственными и&nbsp;влиять на&nbsp;эмоции других.",
      textTwo: "Можно выделить 4&nbsp;области эмоционального интеллекта:",
      list: true,
      textThree: "Если вы&nbsp;хотите понять свои чувства и&nbsp;научиться контролировать эмоции и&nbsp;проявление&nbsp;их, управлять вашими отношениями, то&nbsp;звоните и&nbsp;записывайтесь на&nbsp;встречу!",
    }

block micromarking
  meta(property='og:url', content='https://natalyaegay.ru/emotion.html')
  meta(property='og:title', content='Программа занятий по развитию эмоционального интеллекта')
  meta(property='og:description', content='Занятия по работе с эмоциями и развитию эмпатии')
  meta(property='og:type', content='website')

block main
  main
    +intro-program(introData).intro-program--emotion
    +program(programData).program__emotion

block modals
