extends ../components/base/layout

block variables
  - const title = "Нейропсихология. Программы занятий по нейрогимнастике, ментальной арифметике, психологии, логике, тренировке эмоцианольного интеллекта." //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const programListData = {
      items: [
        {
          href: "neurogym.html",
          image: "neiro",
          btn: true,
          width: 375,
          height: 585,
          btnText: "Нейрогимнастика",
        },
        {
          href: "logic.html",
          btn: true,
          width: 375,
          height: 585,
          image: "logica",
          btnText: "Логика",
        },
         {
          href: "mental.html",
          btn: true,
          width: 375,
          height: 585,
          image: "ma",
          btnText: "Ментальная арифметика",
        },
        {
          href: "psychology.html",
          btn: true,
          width: 375,
          height: 585,
          image: "psicho",
          btnText: "Психология",
        },
        {
          href: "emotion.html",
          btn: true,
          width: 375,
          height: 585,
          image: "emotion",
          btnText: "Эмоциональный интеллект",
        },
      ],
    }

  -
    const skillListData = {
      cards: [
        {
          name: "logika",
          width: 98,
          height: 93,
          text: "Умение быстро решать задачи",
          textTwo: "тренировка навыка &laquo;находить выход из&nbsp;любой ситуации&raquo;",
          textThree: "скорость реакции",
        },
        {
          name: "psihologiya",
          width: 96,
          height: 97,
          text: "Мышление:",
          textTwo: "понимание<br>запоминание<br>анализ<br>оценка<br>синтез<br>применение",
        },
        {
          name: "heart",
          width: 96,
          height: 102,
          text: "способность чувствовать себя",
          textTwo: "Самооценка",
          textThree: "Уверенность в&nbsp;своих силах",
        },
        {
          name: "emotional",
          width: 77,
          height: 84,
          text: "Самообладание",
          textTwo: "Распознавание и&nbsp;контроль эмоций",
          isSquare: true,
        },
        {
          name: "lamps",
          width: 99,
          height: 105,
          text: "развитие логического мышления и&nbsp;воображения",
          isSquare: true,
        },
        {
          name: "intellekt",
          width: 91,
          height: 97,
          text: "умение дружить",
          textTwo: "чувствовать окружающих людей",
          textThree: "эффективно взаимодействовать",
          isSquare: true,
        },
      ],
    }

  -
    const   reviewListData = {
      cards: [
        {
          name: "OE",
          userName: "Ольга Епанешникова",
          descriptionText: "Наталья Борисовна,я Вам уже говорила,но еще раз повторюсь,Вы-педагог от&nbsp;Бога! Умеете найти контакт с&nbsp;абсолютно всеми детками,а ведь у&nbsp;каждого свой характер,мышление,поведение и&nbsp;т.п. До&nbsp;встречи с&nbsp;Вами мой ребёнок был очень стеснительный,не особо внимательный и&nbsp;совсем не&nbsp;творческий! Но&nbsp;после всё изменилось. Ментальная арифметика действительно не&nbsp;только развивает способности в&nbsp;математике, но&nbsp;и&nbsp;творческие способности ,внимание, наблюдательность, даже логическое мышление, о&nbsp;чём я&nbsp;и&nbsp;сама представить не&nbsp;могла. Сейчас математика -самый любимый предмет для нас. СПАСИБО Вам огромное за&nbsp;Ваш труд!!!у нас подрастает второй сынулька, так что скоро придем с&nbsp;ним к&nbsp;Вам.",
        },
        {
          name: "SA",
          userName: "София Альгиз",
          descriptionText: "Мой сын пришёл заниматься к&nbsp;Наталье Борисовне вслед за&nbsp;своим другом, за&nbsp;компанию. Не&nbsp;думала, что это продлиться дольше 1-го урока... Но, О, чудо... Он&nbsp;выскочил с&nbsp;занятия окрылённый и&nbsp;сказал, что будет ходить дальше... И&nbsp;ведь ходил... Даже не&nbsp;смотря на&nbsp;то, что мы&nbsp;поменяли место жительства... Ездил сам... Я&nbsp;не&nbsp;понимала, то&nbsp;ли Ментальная арифметика&nbsp;&mdash; это Супер!!!, то&nbsp;ли Наталья Борисовна... Но&nbsp;дело пошло!!! Он&nbsp;был мотивирован, собран и&nbsp;готов учиться новому. Без лени. Такое меня удивило. Сказать, что занятия пошли на&nbsp;пользу, это ничего не&nbsp;сказать. Сын стал более ответственным, начал интересно выражать свои мысли, раскрепостился, в&nbsp;школе пошли успехи.. И&nbsp;главное я&nbsp;наконец начала видеть Интерес в&nbsp;его глазах... И&nbsp;пока Наталья Борисовна вела курс, он&nbsp;был в&nbsp;восторге. За&nbsp;это я&nbsp;очень ей&nbsp;благодарна!! Он&nbsp;очень изменился за&nbsp;это время. Когда&nbsp;же Наталья Борисовна ушла в&nbsp;декрет, нам дали другого педагога и&nbsp;тут я&nbsp;ощутила разницу... Сын конечно доходил курс, но&nbsp;уже без восторга... Наталья Борисовна, мы&nbsp;с&nbsp;Борисом передаём Вам огромный привет!!! Ему еже 17&nbsp;лет. Он&nbsp;учится в&nbsp;Колледже. И&nbsp;очень тепло о&nbsp;Вас вспоминает. Всех Вам Благ!!! И&nbsp;прекрасных учеников!!!",
        },
        {
          name: "CC",
          userName: "Светлана Степанова",
          descriptionText: "Наталья&nbsp;&mdash; очень хороший педагог! У&nbsp;меня застенчивый ребёнок, она легко нашла к&nbsp;нему подход. Быстро его заинтересовала и&nbsp;увлекла в&nbsp;мир ментальной арифметики. Мой сын и&nbsp;я&nbsp;были очень довольны, ребенок каждый раз спешил на&nbsp;занятия с&nbsp;радостью! Уроки были очень интересными и&nbsp;необычными , а&nbsp;главное полезными!",
          classMods: "review--small",
        },
        {
          name: "EB",
          userName: "Екатерина Белозерова",
          descriptionText: "Мы&nbsp;начали заниматься ментальной арифметикой с&nbsp;4.5 лет и&nbsp;нашим первым преподавателем была Наталья Борисовна.Первое время сын очень переживал из-за того,что у&nbsp;него не&nbsp;все получалось на&nbsp;занятиях,но Наталья Борисовна сумела его заинтересовать и&nbsp;повысить уверенность в&nbsp;себе!Очень благодарны Наталье Борисовне за&nbsp;знания и&nbsp;за&nbsp;ее&nbsp;труд!",
          classMods: "review--small",
        },
        {
          name: "AJ",
          userName: "Алена Жаткина",
          descriptionText: "Наталья, очень хороший учитель! И&nbsp;не&nbsp;может быть иначе, потому что она, просто чудесный человек! На&nbsp;уроке умеет заинтересовать, мотивировать ребенка, находит подход даже к&nbsp;деткам со&nbsp;сложным характером! Сын всем рассказывает про эти замечательные уроки, стал более уверенным в&nbsp;себе, быстрее принимает решения. Спасибо огромное, за&nbsp;Ваш труд)",
          classMods: "review--small",
        },
        {
          name: "EH",
          userName: "Елена Хлынова",
          descriptionText: "Наталья Борисовна очень профессиональный педагог.Моей дочке нравилось ходить к&nbsp;ней на&nbsp;занятия.отзывчива знает как разрядить обстановку.",
          classMods: "review--small",
        },
        {
          name: "AB",
          userName: "Аня Барусина",
          descriptionText: "Наталья Борисовна&nbsp;&mdash; прекрасный педагог. К&nbsp;каждому ребенку находит свой подход. Детки её&nbsp;очень любят и&nbsp;занимаются с&nbsp;большим удовольствием. Мой ребёнок за&nbsp;время учебы подтянулась по&nbsp;предметам и&nbsp;стала более внимательна во&nbsp;всём. Плюс, в&nbsp;нашем случае, Наталья смогла найти психологический подход к&nbsp;ней, что моя дочь начала расскрываться с&nbsp;каждым разом все больше и&nbsp;больше. Огромное спасибо ей&nbsp;за&nbsp;проделанную работу. А&nbsp;уроки всегда интересные, позновательные и&nbsp;полезные!",
          classMods: "review--medium",
        },
      ],
    }

block micromarking
  meta(property='og:url', content='https://natalyaegay.ru/')
  meta(property='og:title', content='Нейропсихология. Программы занятий по нейрогимнастике, ментальной арифметике, психологии, логике, тренировке эмоцианольного интеллекта.')
  meta(property='og:description', content='Занятия по ментальной арифметике, логике, психологии с детьми и взрослыми онлайн. Помогаю развить эмоциональный интеллект. Тренирую по нейрогимнастике. Развиваю нейропсихологию вместе с вами.')
  meta(property='og:type', content='website')

block main
  main
    +intro()
    +about()
    +program-list(programListData)
    +skill-list(skillListData)
    +review-list(reviewListData)

block modals
