extends ../components/base/layout

block variables
  - const title = "Программа курса Логики" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "logic.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const introData = {
      item: {
        href: "#",
        width: 520,
        height: 720,
        image: "logica",
      },
      iconName: "icon-logic",
      text: "Программа подбирается индивидуально, после диагностики. <br>Занятия проходят 1-2 раза в&nbsp;неделю.",
      textTwo: "Стоимость занятий в&nbsp;группе&nbsp;&mdash; 800 рублей ( в&nbsp;группе 4-6&nbsp;человек)",
      textThree: "Стоимость индивидуальных занятий&nbsp;&mdash; 2000 рублей",
    }
  -
    const programData = {
      title: "Логика",
      text: "Логика&nbsp;&mdash; это наука о&nbsp;законах правильного мышления или наука о&nbsp;законах которым подчиняется правильное мышление.",
      textTwo: "Основанная на&nbsp;причинно-следственном анализе и&nbsp;рациональном познании мира. В&nbsp;отличие от&nbsp;эмоций, логическое мышление опирается только на&nbsp;аргументы и&nbsp;доводы. Его еще называют аналитическим мышлением. За&nbsp;развитие данного умения отвечает левое полушарие головного мозга. Логика рассматривает мыслительный процесс как способ познания человеком мира, в&nbsp;котором человек оперирует имеющимися знаниями для получения конкретного вывода и&nbsp;которому присущи такие признаки, как обоснованность, последовательность и&nbsp;связность. Его можно развивать в&nbsp;течение всей жизни и&nbsp;тренировать с&nbsp;помощью определенных методик.",
      textThree: "Логика упорядочивает нашу жизнь, она помогает отделить важное от&nbsp;неважного, отбрасывает все ненужные второстепенные вещи. Она помогает экономить наше время, что так важно человеку на&nbsp;сегодняшний день. Помимо этого, логика помогает шире смотреть на&nbsp;окружающий мир и&nbsp;глубже чувствовать и&nbsp;понимать его.",
    }

block main
  main
    +intro-program(introData)
    +program(programData)

block modals
