extends ../components/base/layout

block variables
  - const title = "Программа курса Ментальная арифметика" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "mental.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const introData = {
      item: {
        href: "#",
        width: 520,
        height: 720,
        image: "ma",
      },
      text: "Программа подходит детям от&nbsp;5&nbsp;до&nbsp;16&nbsp;лет, особенно рекомендуется детям у&nbsp;кого сложности с&nbsp;математикой. Занятия проходят:<br> индивидуальные&nbsp;&mdash; 2&nbsp;раза в&nbsp;неделю по&nbsp;45&nbsp;мин <br>в&nbsp;группе (4-6&nbsp;детей)&nbsp;&mdash; 2&nbsp;раза в&nbsp;неделю по&nbsp;60&nbsp;мин или 1&nbsp;раз в&nbsp;неделю по&nbsp;1,5 часа",
      textTwo: "Стоимость занятий в&nbsp;группе&nbsp;&mdash; 800 рублей",
      textThree: "Стоимость индивидуальных занятий&nbsp;&mdash; 2000 рублей",
    }
  -
    const programData = {
      title: "Ментальная арифметика",
      text: "Ментальная арифметика- это универсальная программа, успешно работает во&nbsp;многих странах, помогает детям и&nbsp;взрослым развивать интеллект, становиться успешнее. Методика признана организацией ЮНЕСКО, основы этой системы используются в&nbsp;японской начальной школе. Её&nbsp;задачи&nbsp;&mdash; научить детей быстрой обработке и&nbsp;анализу информации.",
      textTwo: "Ментальная арифметика&nbsp;&mdash; это не&nbsp;просто система для счета. Сторонники такого метода уверены, что она помогает решать в&nbsp;уме сложные математические примеры, развивает память, логику, способность к&nbsp;многозадачности и&nbsp;концентрации внимания.",
    }

block main
  main
    +intro-program(introData).intro-program__mental
    +program(programData)

block modals
