extends ../components/base/layout

block variables
  - const title = "Программа занятий психологией"
  - const description = "Занятия по развитию и пониманию межличностных отношений"
  - const keywords = "психология, психика, межличностные отношения, самооценка, коммуникативные навыки"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "psychology.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const introData = {
      item: {
        href: "#",
        width: 520,
        height: 720,
        image: "psicho",
      },
      iconName: "icon-psyco",
      text: "Вы&nbsp;можете записаться на&nbsp;индивидуальную консультацию или оставить заявку на&nbsp;участие в&nbsp;online группе, offline группе.",
      textTwo: "Участие в&nbsp;группе offline&nbsp;&mdash; 1000 рублей",
      textThree: "Участие в&nbsp;группе online&nbsp;&mdash; 700 рублей",
      textFour: "Индивидуальная консультация&nbsp;&mdash; 2500 рублей",
      textFive: "<a class='intro-program__text--href' href='https://t.me/Nataly_Miro' target='_blank' rel='nofollow noopener noreferrer'>Запишись</a> до&nbsp;31&nbsp;декабря&nbsp;и <a class='intro-program__text--href' href='https://t.me/Nataly_Miro' target='_blank' rel='nofollow noopener noreferrer'>получи</a> в&nbsp;подарок диагностику и&nbsp;личную карту развития интеллекта!",
    }
  -
    const programData = {
      title: "Психология",
      text: "Психология изучает психику человека на&nbsp;основе взаимодействия людей с&nbsp;окружающей средой. В&nbsp;поле внимания психологии попадают межличностные отношения, реакции на&nbsp;те&nbsp;или иные события в&nbsp;жизни человека или группы людей, последствия взаимодействия с&nbsp;объектами окружающей среды.",
      textTwo: "Зачем нужна психология?",
      textThree: "Знание психологии играет важную роль в&nbsp;жизни общества и&nbsp;человека, делает жизнь ярче, успешнее и&nbsp;счастливее, помогает человеку реализовать свои возможности, лучше познать себя и&nbsp;окружающих, стать увереннее в&nbsp;себе, овладеть на&nbsp;высоком уровне коммуникативными навыками, эффективно решать производственные и&nbsp;личностные проблемы.",
    }

block micromarking
  meta(property='og:url', content='https://natalyaegay.ru/psychology.html')
  meta(property='og:title', content='Программа занятий психологией')
  meta(property='og:description', content='Занятия по развитию и пониманию межличностных отношений')
  meta(property='og:type', content='website')

block main
  main
    +intro-program(introData).intro-program--psycho
    +program(programData)

block modals
