mixin about()
  .about(id="about")
    .container
      h2.title Обо мне
      .about__wrapper
        .about__text
          p.about__text-green Рада приветствовать Вас на&nbsp;моём сайте!
          p.about__text-green Я, Егай Наталья Борисовна, бакалавр психологии с&nbsp;2013&nbsp;года.
          p Помогаю и&nbsp;детям, и&nbsp;взрослым в&nbsp;решении вопросов психологии, интеллектуального развития и&nbsp;образования.
          ul.about__list
            li.about__item Тренер по&nbsp;Ментальной арифметике с&nbsp;2016&nbsp;года.
            li.about__item Автор курса по&nbsp;Нейрогимнастике.
            li.about__item С&nbsp;2021 года вышла на&nbsp;международную аудиторию.
          p.about__text-green Могу Вам помочь и&nbsp;знаю как.
        .about__pic
          +picture-adaptive("content", "ava", "png", 515, 526, "", isLoadingLazy)

