mixin intro()
  .intro
    .intro__wrapper
      .intro__pic
        +picture-adaptive("content", "fon", "jpg", 1920, 979, "", isLoadingLazy)
      .intro__wrapper-inner
        p.intro__slogan-up Здоровье твоего мозга определяют качество твоей жизни!
        h1.intro__title Нейропсихология
        .intro__slogan
          //- p Здоровье твоего мозга определяют качество твоей жизни!
          p Нейропсихология помогает сделать жизнь ЛУЧШЕ!
          p Это направление, лежащее на&nbsp;стыке психологии и&nbsp;нейронауки, нацелено на&nbsp;понимание связи, структуры и&nbsp;функционирования головного мозга с&nbsp;психологическим поведением людей.
