mixin main-nav(headerLinks = [])
  //- headerLinks определено в base/header

  nav.main-nav(data-fix-block)
    .main-nav__wrapper
      ul.main-nav__list(data-destroy="(max-width: 1023px)")
        each link in headerLinks
          - const activeState = currentUrl === link.href
          li.main-nav__item
            if(activeState)
              span.main-nav__link.is-active!=link.text
            else
              +link({text: link.text, href: link.href}).main-nav__link
      +link({href: "tel:+79673415878", text: "+7 (967)341-58-78"}).main-nav__tel
      +link({href: "mailto:yatendy1@gmail.com", text: "yatendy1@gmail.com"}).main-nav__email
