mixin program(data = {})
  - const textTwo = data.textTwo || false
  - const textThree = data.textThree  || false
  - const text = data.text
  - const title = data.title
  - const list = data.list  || false

  .program&attributes(attributes)
    .container
      .container__inner
        h2.title!=`${title}`
        .program__info
          p.program__text!=`${text}`
          if textTwo
            p.program__text!=`${textTwo}`
              if list
                ul.program__list
                  li.program__item самосознание,
                  li.program__item самоконтроль,
                  li.program__item социальную чуткость,
                  li.program__item управление отношениями.
          if textThree
            p.program__text!=`${textThree}`
