mixin skill-list(data = {})

  .skill-list
    .container
      .container__inner
        h2.title Прокачка навыков
        .skill-list__wrapper
          each card in data.cards
            +skill-card(card)
