.intro-program {
  .container__inner {
    margin-top: 280px;
    margin-left: 52px;
    margin-right: 52px;

    @include vp-767 {
      margin-left: 0;
      margin-right: 0;
    }

    @include vp-500 {
      margin-top: 250px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    margin: 0 auto;


    @include vp-1023 {
      grid-template-columns: 1fr;
      gap: 85px;
      justify-content: center;
    }

    @include vp-767 {
      gap: 50px;
    }

    @include vp-374 {
      margin: 0;
      // min-width: 320px;
      min-height: 652px;
    }
  }

  &__pic {
    cursor: default;
    pointer-events: none;

    @include vp-1023 {
      justify-self: center;
    }
  }

  &__info {
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0.24px;
    margin: auto;

    @include vp-767 {
      font-size: 20px;
      line-height: 40px;
    }

    @include vp-374 {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__text:not(:last-child)  {
    margin-bottom: 50px;

    @include vp-767 {
      margin-bottom: 30px;
    }
  }

  br {
    @include vp-1023 {
      display: none;
    }
  }

  &__mental {
    br {
      @include vp-1023 {
        display: inline-block;
      }
    }
  }
}
