.program-list {
  &__wrapper {
    display: flex;
    // max-width: 1210px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px 45px;
    margin-top: 90px;
    padding: 0;

    @include vp-1439 {
      padding: 0;
      column-gap: 25px;
    }
  }

  .program-card:nth-child(1) .btn {
    padding: 25px 15px;

    @include vp-374 {
      padding: 10px 0;
    }
  }

  .program-card:nth-child(2) .btn {
    padding: 25px 110px;

    @include vp-374 {
      padding: 12px 78px;
    }
  }

  .program-card:nth-child(4) .btn {
    padding: 25px 70px;

    @include vp-374 {
      padding: 7px 16px;
    }
  }
}
