.program-card {
  border-radius: 10px;
  position: relative;
  min-height: 585px;
  width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: end;

  @include vp-1439 {
    width: 278px;
    min-height: 392px;
  }

  &__pic {
    position: absolute;
    height: 585px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: $color-midnight-express;

    @include vp-1439 {
      min-width: 278px;
      min-height: 392px;
      max-width: 278px;
      max-height: 391px;
    }

    img {
      border-radius: 50px;
      height: 100%;
      object-fit: cover;
      align-self: center;

      @include vp-1439 {
        min-width: 278px;
        min-height: 392px;
        width: auto;
        max-width: 278px;
        min-height: 391px;
      }
    }
  }

  &__btn {
    position: static;
    z-index: 1;
  }

  &__btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }


  .btn {
    opacity: 1;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.6;
    }
  }
}
