mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "index.html#program",
        text: "Программы"
      },
      {
        href: "#contacts",
        text: "Контакты"
      },
    ]

  header.header(class=headerMods)
    .container
      .header__wrapper
        if(currentUrl === "index.html")
          //- lighthouse снимает 10 баллов SEO за <a> без href
          span.header__logo
            +picture-adaptive("content", "logo", "png", 193, 57, "Лого", isLoadingLazy)
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +picture-adaptive("content", "logo", "png", 193, 57, "Лого", isLoadingLazy)
        button.header__nav-toggle(type="button", aria-label="Открыть меню", aria-pressed="false", data-nav-toggle)
          span.header__icon.header__icon--open
            +icon("icon-burger", 35, 20)
          span.header__icon.header__icon--close
            +icon("icon-cross", 28, 27)
        +main-nav(headerLinks)
